button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(141, 199, 187, 1), rgba(46, 195, 165, 1));
    color: var(--white);
    border-radius: 50px;
    font-size: 16px;
    font-family: "Poppins";
}

button:hover {
    background: linear-gradient(to bottom, rgba(141, 199, 187, 0.75), rgba(46, 195, 165, 0.75));
}